<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Form</title>
</head>
<body>
    <h1>Form</h1>
    <form th:action="@{/auto-user-form}" th:object="${user}" method="post">
        <div>
            <label for="username">Username</label>
            <div>
                <input type="text" name="username" id="username" th:field="*{username}">
            </div>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" name="password" id="password"  th:field="*{password}">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="email">Email</label>
            <div>
                <input type="email" name="email" id="email"  th:field="*{email}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
        </div>
        <div>
            <label for="name">Nombre</label>
            <div>
                <input type="text" name="name" id="name"  th:field="*{name}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{name}" ></div>
        </div>
        <div>
            <label for="age">Age</label>
            <div>
                <input type="number" name="age" id="age"  th:field="*{age}">
            </div>
            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" ></div>
        </div>
        <div>
            <div>
                <input type="submit" value="Send">
            </div>
        </div>
    </form>
</body>
</html>